<hr />
<div class="footer-container">
	<p>&copy; {% year %} Dadalha</p>
	<div class="social_icons">
		<a
			href="https://twitter.com/dadalha_writes"
			aria-label="Twitter"
			target="_blank"
			rel="noopener noreferrer"
		>
			<i class="fa-brands fa-twitter"></i>
		</a>
	</div>
</div>
