<div class="hero-container">
    <img src='assets/Hero.jpg' class="profile-img" alt="Joe's personal headshot" />
    <div class="hero-text">
        <h1>Hey, I'm Dadalha👋</h1>
        <p>
            I write for the sheer joy of it, letting my imagination roam freely in fantastical realms.
            No lofty expectations here, just a simple desire to unwind and take readers on adventures with my characters.
        </p>
        <div class="social-icons">
            <a href="https://www.royalroad.com/profile/208463/fictions" target="_blank">
                <i class="fa-solid fa-crown"></i>
            </a>
            <a href="https://drafyapp.com/u/dadalha" target="_blank">
                <i class="fa-solid fa-book"></i>
            </a>
        </div>
    </div>
</div>
