<div class="nav-container">
    <div class="logo">
        <a href="/">
            D.
        </a>
    </div>
    <div class="nav">
        Theme: {% include "components/theme.njk" %}
    </div>
</div>
