
<div class="projects-container">
    <h2>Short stories</h2>
    <p>
    This is a collection of disjoint stories, usually only a chapter's long.
    </p>
    <p>
    Some day, one of them might receive the grace of me and be converted into a real novel.
    </p>
    <p>
    For now, though, they are only ideas.
    </p>
    <br />
    <div class="projects-grid">
        {% for book in collections.shorts %}
            <div class="book-card">
                <div class="book-cats">
                  {% for cat in book.data.categories %}
                    <span>[{{ cat }}]</span>
                  {% endfor %}
                </div>

                <image src="{{book.data.image}}">
                <div>
                  {% for web in book.data.webs %}
                    <p>
                      <a href="{{ web.link }}" target="_blank">
                        &gt; Read on {{ web.name }}
                      </a>
                    </p>
                  {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
