<div
  x-init="
  if (selectedTheme == null) {
    var prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
    selectedTheme = prefersDark ? 'dark' : 'light';
  }
  "
  class="select"
>
  <select x-model="selectedTheme" class="minimal">
    <template x-for="theme in themes" :key="theme">
      <option 
        :value="theme" 
        x-text="theme" 
        :selected="selectedTheme == theme"
      >
      </option>
    </template>
  </select>
</div>
