* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Atkinson Hyperlegible,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    width: 900px;
    margin: 0 auto;
    padding: 0 0;
}

body,
body.dark {
    background-color: #1D1E20;
    color: #DADADB;
}

body.light {
    background-color: #DADADB;
    color: #1D1E20;
}

@media screen and (max-width: 768px) {
    body {
        width: 100%;
        padding: 0 2rem;
    }
}

a {
    text-decoration: none;
    color: #DADADB;
}

.light a {
    color: #1D1E20;
}

.main a {
    color: #23527c;
}

.dark .main a {
    color: #48a1f1;
}

li {
    list-style: none;
}

/* Navbar */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.nav-container .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-container .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 2rem;
}

select {
    text-transform: capitalize;
}

.link {
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}

.cta-btn {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    display: inline-block;
}

.cta-btn:hover {
    background-color: #DADADB;
}

/* Footer */
hr {
    border: none;
    background-color: #9B9C9D;
    height: 1px;
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    hr {
        width: 100%;
    }
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
}

.footer-container p {
    font-size: 0.8rem;
    color: #9B9C9D;
}

.footer-container .social_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 1rem;
}

.footer-container .social_icons a {
    color: #9B9C9D;
    font-size: 1.5rem;
    transition: all 0.5s ease-in-out;
}

.footer-container .social_icons a:hover {
    color: #DADADB;
}

/* Hero */

.hero-container {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
}

.hero-container .profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    object-fit: cover;
}

.hero-container .hero-text {
    text-align: center;
    margin: 1rem 0;
    width: 80%;
}

@media screen and (max-width: 768px) {
    .hero-container .hero-text {
        width: 100%;
    }
}

.hero-container .hero-text h2 {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.hero-container .hero-text p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.hero-container .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1rem;
}

.hero-container .social-icons a {
    color: #9B9C9D;
    font-size: 1.5rem;
    transition: all 0.5s ease-in-out;
}

.hero-container .social-icons a:hover {
    color: #DADADB;
}

/* About */
.about-container {
    padding: 2rem 0;
}

.about-container h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.about-container .flex-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 2rem;
}

.about-container .flex-about .about-text {
    width: 50%;
}

.about-container .flex-about .about-text p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.about-container .flex-about .about-img {
    width: 50%;
}

.about-container .flex-about .about-img .profile-img {
    overflow: hidden;
    width: 100%;
    height: 500px;
    object-fit: cover;
    border: 2px solid #DADADB;
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
    cursor: cell;
}

.about-container .flex-about .about-img .profile-img:hover {
    filter: grayscale(0%);
    transform: scale(1.02);
}

@media screen and (max-width: 768px) {
    .about-container .flex-about {
        flex-direction: column;
    }

    .about-container .flex-about .about-text {
        width: 100%;
    }

    .about-container .flex-about .about-img {
        width: 100%;
    }
}

/* Skills */
.skills-container {
    padding: 6rem 0;
}

.skills-container h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.skills-container .grid-skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

@media screen and (max-width: 768px) {
    .skills-container .grid-skills {
        grid-template-columns: repeat(2, 1fr);
    }
}

.skills-container .grid-skills .skill-card {
    background-color: #DADADB;
    color: #1D1E20;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
    cursor: context-menu;
}

.skills-container .grid-skills i {
    font-size: 1.5rem;
}

.skills-container .grid-skills .html:hover {
    background-color: #E34F26;
}

.skills-container .grid-skills .css:hover {
    background-color: #264DE4;
}

.skills-container .grid-skills .js:hover {
    background-color: #F7DF1E;
}

.skills-container .grid-skills .react:hover {
    background-color: #61DAFB;
}

.skills-container .grid-skills .node:hover {
    background-color: #339933;
}

.skills-container .grid-skills .python:hover {
    background-color: #3776AB;
}

/* Projects */
.projects-container {
    padding: 2rem 0;
}

.projects-container h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

@media screen and (max-width: 768px) {
    .projects-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.book-card img {
    max-width: 100%;
}

.project-card {
    border: 1px solid #e6e6e6;
    padding: 20px;
    border-radius: 5px;
}

.project-card p,
.project-card h3 {
    margin-bottom: 10px;
}

.project-card .project-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.project-card .folder-icon {
    font-size: 35px;
    color: #FFCC17;
}

.project-header .small-icons {
    display: flex;
    gap: 0 5px;
}

.project-card .small-icons a {
    margin-right: 5px;
    cursor: pointer;
    transition: all .5s ease;
}

.project-card .small-icons a:hover {
    color: #FFCC17;
}

.project-card .project h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.project-card .project p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #b3b3b3;
}

/* contact */
.contact-container {
    padding: 4rem 0 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .contact-container {
        width: 100%;
    }
}

.contact-container h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.contact-container p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: center;
}

/* project-layout */
.project-layout {
    padding: 5rem 0;
}

.project-layout h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.project-layout h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.project-layout p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.project-layout .banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 20px 0;
}

.project-layout .pt-btn {
    margin: 10px 0;
}

.book-cats {
    text-align: center;
}

.book-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 2em;
}

.book-image {
    flex: 1 1 0;
    margin-top: 0em;
}

.book-image img {
    width: 100%;
}

.chapters {
    margin-top: 1em;
}

.book-toc {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2em;
}

.book-toc.reverse {
    flex-direction: column-reverse;
}

.book-toc > div {
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
    padding: 0.5em;
    margin: 0.1em;
}

body.dark .book-toc > div {
    box-shadow: 0 1px 4px rgb(255 255 255 / 10%);
    background-color: #181818;
}

body.light .book-toc > div {
    background-color: #DDDDDD;
}

.book-synopsis {
    flex: 3 1 0;
    margin: 2em;
    margin-top: 0em;
    text-align: left;
}

.book-nav,
.book-synopsis,
.book-toc,
.chapter {
    text-align: justify;
    font-family: Atkinson Hyperlegible,sans-serif;
    font-size: 1.25em;
}

.book-nav {
    text-align: center;
}

.chapter h2 {
    margin-bottom: 2em;
}

.book-synopsis p,
.chapter p {
    margin-bottom: 1em;
}

.backtracked {
    margin: 2em 10em;
    padding: 1em;
    text-align: center;
}

.light .backtracked {
    color: #c7254e;
    background-color: #f9f2f4;
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
}

.backtracked {
    color: #fd1c55;
    background-color: #000000;
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
}

.backtracked p {
    margin-bottom: 0.1em;
}

.clickable {
    cursor: pointer;
}

.chapter hr {
    margin-top: 2em;
    margin-bottom: 2em;
}

.chapter pre {
    white-space: pre-wrap;
    margin-bottom: 0.75em;
}

.chapter pre > code {
    padding: 1em;
}

p > code,
pre > code {
    font-family: consolas,monospace;
    font-size: 0.9em;
}

p > code + code,
pre > code {
    display: block;
}

.light .chapter code {
    color: #c7254e;
    background-color: #f9f2f4;
}

.chapter code {
    color: #fd1c55;
    background-color: #000000;
}

.chapter p > code,
.chapter p > code+code {
    margin-bottom: 0.75em;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
}

.text-right {
    text-align: right;
}

button,
select {
  /* Reset Select */
  appearance: none;
  outline: 10px red;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: #34495e;
  background-image: none;
  cursor: pointer;
  font-family: Atkinson Hyperlegible,sans-serif;
  font-size: 1em;
}
.light button,
.light select {
  background-color: #e7e7e7;
  color: #1D1E20;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 10em;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #34495e;
  transition: .25s all ease;
  pointer-events: none;
}
.light .select::after {
  background-color: #e7e7e7;
  color: #1D1E20;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

.open-reader-settings {
    float: right;
    margin-left: 2em;
}

.close-reader-settings {
    position: absolute;
    right: 0;
    margin-right: 2em;
}

.overlay-reader-settings {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.2);
}

.reader-settings {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 2em;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 70%; /* Need a specific value to work */
}

.reader-settings > .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: auto;
    gap: 1em;
}

.row div {
    flex: 1 1 0;
}

.light .reader-settings {
    color: #c7254e;
    background-color: #f9f2f4;
}

.reader-settings {
    color: #fd1c55;
    background-color: #000000;
}

.reader-settings {
    margin-bottom: 0.75em;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
}

.width-100 { width: 100%; margin: 0 auto; }
.width-90 { width: 90%; margin: 0 auto; }
.width-80 { width: 80%; margin: 0 auto; }
.width-70 { width: 70%; margin: 0 auto; }
.width-60 { width: 60%; margin: 0 auto; }
.width-50 { width: 50%; margin: 0 auto; }

.size-10 { font-size: 10px; }
.size-11 { font-size: 11px; }
.size-12 { font-size: 12px; }
.size-13 { font-size: 13px; }
.size-14 { font-size: 14px; }
.size-15 { font-size: 15px; }
.size-16 { font-size: 16px; }
.size-17 { font-size: 17px; }
.size-18 { font-size: 18px; }
.size-19 { font-size: 19px; }
.size-20 { font-size: 20px; }
.size-21 { font-size: 21px; }
.size-22 { font-size: 22px; }
.size-23 { font-size: 23px; }
.size-24 { font-size: 24px; }
.size-25 { font-size: 25px; }
