---
layout: layouts/base.njk
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /book/{{ tag }}/
---
{% set book = collections.books | matchBook(tag) %}
{% set chapters = collections[ tag ] %}

<div class="hero-container">
  <h1>{{ book.data.title }}</h1>

  <div class="book-synopsis">
      {{ book.content | safe }}
  </div>

  <div class="book-toc">
    {% for chapter in chapters | sortedChapters %}
      <div style="order: {{ chapter.data.num }}">
          <a href="{{ chapter.url }}">
              {% if not chapter.data.noNumbering %}
                {% if chapter.data.fullNumbering %}
                    Chapter {{ chapter.data.num }}: 
                {% else %}
                    {{ chapter.data.num }}. 
                {% endif %}
              {% endif %}

              {{ chapter.data.title }}
          </a>
      </div>
    {% endfor %}
  </div>
</div>
